@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-size: 400% 400% !important;
    animation: FundoAnimado 15s ease infinite;
    background: linear-gradient(120deg, #000000, #3c3c3d);
}

@keyframes FundoAnimado {
    0% {
        background-position: 0% 30%
    }

    50% {
        background-position: 100% 30%
    }

    100% {
        background-position: 0% 30%
    }
}